/* Basic styling */
body{
    background-color: rgb(240, 240, 240);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar{
    padding:0;
}

.container-fluid{
    background-color: rgb(165, 165, 165);
}

.nav-link{
    font-size: 30px;
}

#carousel{
    width: 80%;
    display: flex;
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcome{
    text-align: center;
    padding: 5% 15%;
    
}

.reviews{
    margin: 5% 10%;
    display: flex;
    justify-content: space-around;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form{
    width: 40%;
}

textarea{
    height: 300px;
}

iframe{
    width: 40%;
}

